---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "11ty_11ty-zeropoint",
  "short_name": "11ty_11ty-zeropoint",
  "display": "standalone",
  "start_url": "/"
}
